MONGO_ROOT_USERNAME=local_admin
MONGO_ROOT_PASSWORD=change-me
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=chat_app
MONGODB_USERNAME=local_admin
MONGODB_PASSWORD=change-me
MONGODB_AUTH_DB=admin
